/* Variables */

:root {
    --basic-black: #000000;
    --basic-red:#EE3643;
    --basic-green:#63A63E;
    --basic-grey:#32425C;
    --basic-darkgrey:#293449;
    --basic-dark:#1D2739;
    --basic-bluelight:#F1F5F7;
    --basic-light:#E5E5E5;
    --basic-greylight:#C5C5C5;
    --basic-cream:#F9F5F0;
    --basic-white:#FFFFFF;

    --special-yellow:#FFBF47;
    --special-blue:#3BBCE3;
    --special-lilac:#DC91D8;
    --special-greenlight:#8ED78F;
    --special-yellowlight:#FFD180;
    --special-error:#BA2732;
    --special-success:#5FBB2D;
}

/* Global */
body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: none;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Grid*/
.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*Grid for pages*/
.page-catalog{
display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
}
.page-catalog .page-title {
grid-column: 1 / -1;
}
/*Header Menu Part One*/ 
.main-header {
  background-color: var(--basic-bluelight);
}
.header-menu-wrapper {
  width: 100%;
  display: flex;
  height:42px;
  align-items:center;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.header-menu-wrapper input,
.header-menu-wrapper button,
.header-menu-wrapper a{
  display: block;
  padding: 9px 25px;
}
.header-wrapper{
  margin: 0;
  padding: 0;
  background-color: var(--basic-darkgrey);
  color: var(--basic-white);
}
.logo-wrapper{
  background-color: var(--basic-red);
  width: 220px;
  height: 51px;
  margin-right: auto;
  display: flex;
  justify-content: center ;
  align-items: center;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}
.logo {
  background-color: var(--basic-red);
  width: 108px;
  height: 18px; 
}  
.logo:active{
  background-color: var(--special-error);
}
.header-search{
 width: 260px;
 position: relative;
 margin-right: 20px;
 display: flex; 
 align-items: center; 
}
.search-button{
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0px;
  left:1px; 
  height: 42px;  
}
.header-search input {
  display: block;   
  padding-left:42px ;
  width: 270px; 
}
.header-search input[type="search"] {
  font: inherit;
  color:var(--basic-white);
  opacity: 1;
  background-color:transparent ;
  border: none;
}
.header-search input[type="search"]:focus{
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.header-search input[type="search"]:active{
  background-color: var(--basic-white);
  color: var(--basic-black);
}
.header-search svg{
  left:17px;
  top:12px ;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}
.header-search svg:hover path,
.header-search svg:focus path {
  opacity: 1;
  fill: var(--basic-white);
}
.header-search svg:active path {
  opacity: 1;
  fill: var(--basic-red);
  background-color: var(--basic-white);
}
.search-button:active{
  background-color:var(--basic-white) ;
}

.header-menu-wrapper .header-bookmarks{
  position:relative;  
}
.header-bookmarks::before{
  content: "";
  position: absolute;
  top: 11px;
  left:2px;
  width: 14px;
  height: 16px;  
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;  
  opacity: 0.3;
}
.header-bookmarks {
  color: var(--basic-white);
  background-color: var(--basic-darkgrey);
  border: none; 
  min-height: 24px;  
  cursor: pointer;
  
} 
.header-bookmarks:hover::before,
.header-bookmarks:focus::before {
  opacity: 1;
}
.header-bookmarks:active::before {
  opacity: 0.3;
}
button.header-bookmarks:active {
  color: rgba(255, 255, 255, 0.5);
  border: none; 
}
.header-menu-wrapper .header-cart{
  position:relative;
}
.header-cart::before{
  content: "";
  position: absolute;
  top: 13px;
  left:2px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;  
}
.header-cart:hover::before,
.header-cart:focus::before {
  opacity: 1;
}
.header-cart:active::before {
  opacity: 0.3;  
}
.header-cart:active {
  color: rgba(255, 255, 255, 0.5);
}
.header-order {
  background-color: var(--basic-green);
  min-height: 24px;
  margin-left: 9px;
}
.header-order:hover,
.header-order:focus {
  background-color: var(--special-success)
}
.header-order:active {
  color: rgba(255, 255, 255, 0.5);
}

/*Header Menu Part Two*/  
.header-menu-wrapper-two {
  display: flex;  
  justify-content: space-between;
  font-family: 'Cuprum', sans-serif;
  font-size: 21px;
  color: var(--basic-black); 
  padding: 0;
  margin: 0; 
}
.header-text {
  margin-left:30px;
  margin-top:40px;
  margin-bottom: 44.5px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}  
.header-contact{
  margin:0;
  margin-top:46px;
  margin-bottom: 40px;
  padding:0;
  display:flex;
  flex-direction:column;
  align-items: center;
}
.header-phone::before{
  content: "";
  position: absolute;
  top: 13px;
  left:39px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;  
}
.header-phone {
  padding-right: 42px;
  padding-left: 67px;
  padding-top: 4px;
  padding-bottom: 5px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: var(--basic-red);
  border: 4px var(--basic-white) solid ;
  margin:0;
  position: relative;
}
.header-adress {
  margin: 0;
  padding: 0;
  margin-top:3px;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-darkgrey);
} 


/*Header-user-login*/
.user-name{
  display: flex;
  position: relative;
  margin:0;
  margin-top:46px;
  padding:0;
}
.user-name a {
  color: inherit;
  background-color: var(--basic-white);  
}
.user-name a:active {
  color: var(--basic-greylight);
}
.user-name-text {
  padding-left: 56px;
  padding-right: 57px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.icon-user {
  position: absolute;
  left: 15px;
  top: 13px;
  width: 20px;
  height:18px;
  z-index: 1;
}
.icon-logout{
  position: absolute;
  right: 17px;
  top: 14px;
  width: 20px;
  height:17px;
  background-color: transparent;
  border: none;  
}
.icon-user :focus  path,
.icon-user:hover path,
.icon-logout:focus path,
.icon-logout:hover path{
  fill: var(--basic-grey);
}
.header-user-nav {
  display:flex;
  margin: 0;
  margin-top:46px;
  margin-bottom: 67px;
  padding: 0;
  width: 281px;
  height: 45px;
}
.header-user-nav a{
  padding: 12px 24px;
}
.header-login {
  margin:0;
  margin-right: 10px;
  position: relative;
  color: inherit; 
  background-color: var(--basic-white);   
}
.header-login svg {
  position: absolute;
  left:19px;
  top:14px;  
}
.header-login:hover path,
.header-login:focus path {
  fill: var(--basic-grey);
}
.header-login:active path {
  fill: var(--basic-greylight);
}
.header-user-nav .header-login{ /*чем отличается от того, чтобы просто обратиться к классу .header-login */
  padding-left: 45px;
  position: relative;
}
.header-registration {
  margin:0;
  color:inherit;
  background-color: var(--basic-white);  
}
.header-login-options {
  position: relative;
}
.header-login-options a {
  font-size: 16px;
  margin-left: 30px;
  line-height: 18px;
  color: var(--basic-grey);
}
.header-login-options svg{
  border-radius: 50%;
  position: absolute;
  top:12px;
  left:120px;
}
.header-user-nav a:hover,
.header-user-nav a:focus,
.header-login-options a:hover,
.header-login-options a:focus {
  color: var(--basic-red);
}
.header-user-nav a:active,
.header-login-options a:active {
  color: var(--basic-greylight);
}


/* Main navigation */
.main-navigation {
  margin-bottom: 60px;
  display: flex;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-white);
  background-color: var(--basic-grey);
  box-shadow: inset 0px -5px 0px #293449;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 940px;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height:60px;
}
.site-navigation a{
  display: block;
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 27px;
  padding-right:24px;
}
.sait-navigation li:first-of-type{
  padding-left: 52px;
}
.sait-navigation li:last-of-type{
  padding-right: 47px;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-grey); 
}

.site-navigation a,
.header-menu-wrapper a {
  color: var(--basic-white);
  
}
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-darkgrey);
}
.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

/*Container*/
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
/* Button */
.button {
  height: 38px;
  width: 192px;
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  }
.button:active {
  background-color: var(--special-error);
}

/*Index "Promo" section*/
.promo-section {
  box-sizing: border-box;
  font-family: 'Cuprum', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
}
.promo-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width:135px;
  height: 38px;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color:inherit;
  background-color: rgba(255, 255, 255, 0.3);
}
.promo-item h3{
  margin-bottom: 14px;
}
.promo-item a:hover,
.promo-item a:focus {
  background-color: rgba(197, 197, 197, 0.3);
}
.promo-item a:active {
  background-color: rgba(66, 66, 66, 0.3);
}
.promo-section-list {
  display: grid;
  padding-left: 0;
  grid-template-columns:  300px ;
  grid-template-rows: 123px 123px 123px; 
  gap: 20px;
  list-style: none;
  grid-template-areas:
    "m1 t m2"    /* первый ряд грида */
    "s2 s2 s"  /* второй ряд грида */
    "s2 s2 d"; /* третий ряд грида */
}
.promo-item {
  display: flex;
  flex-direction: column;
  justify-content: start ;
  padding-left: 23px ;
}
.index-promo-materials {
  grid-area: m1;
  position: relative;
}
.icon-materials{
  position: absolute;
  right: 43px;
  top: 31px;
  background-image: url("../img/icon-materials.svg");
  background-repeat: no-repeat;
  width: 44px;
  height:65px;
}
.index-promo-materials,
.index-promo-delivery {
  background-color: var(--special-yellow);
}
.index-promo-tools {
  grid-area: t;
  background-color: var(--special-blue);
  position: relative;
}
.icon-tools{
  position: absolute;
  right: 31px;
  top: 34px;
  background-image: url("../img/icon-tools.svg");
  background-repeat: no-repeat;
  width: 75px;
  height:61px;
}
.index-promo-machinery {
  grid-area: m2;
  background-color: var(--special-lilac);
  position: relative;
}
.icon-machinery{
  position: absolute;
  right: 31px;
  top: 31px;
  background-image: url("../img/icon-machinery.svg");
  background-repeat: no-repeat;
  width: 78px;
  height:62px;
}
.index-promo-sale{
  grid-area: s;
  background-color: var(--special-greenlight);
  position: relative;
}
.icon-sale{
  position: absolute;
  right: 45px;
  top: 26px;
  background-image: url("../img/icon-sale.svg");
  background-repeat: no-repeat;
  width: 59px;
  height: 72px;
}
.index-promo-delivery{
  grid-area: d;
  position: relative;
}
.icon-delivery{
  position: absolute;
  right: 31px;
  top: 32px;
  background-image: url("../img/icon-delivery.svg");
  background-repeat: no-repeat;
  width: 78px;
  height: 63px;
}

/*Slider*/
.promo-slider-wrapper{ 
  grid-area: s2;  
  width: 620px;  
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
}
.promo-slider-wrapper-1 {
  background-color: #8f6a33;
  background-image: url("../img/slider-1.jpg");
}
.promo-slider-wrapper-2 {
  background-color: #8f6a33;
  background-image: url("../img/slider-2.jpg");
}
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;  
}
.slide {
  display: none;
}
.slide-current {
  display: block;
}
.promo-slider{
  width: 620px;
  height: 266px;
}
.slider-item-header{
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.25);
  height: 104px;
  width: 620px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start ;
  margin-bottom:97px;
}
.slider-title {
  margin: 0;
  padding: 0;
  margin-left: 24px;
  margin-top: 23px; 
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  width: 240px;
}
.slider-description{
  margin: 0;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 258px;
  height:24px; 
  text-transform: none;
}
.button-slider{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  color: inherit;
  width:192px;
  height:38px;
  padding:0; 
  margin-bottom: 27px;
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;  
  text-transform: uppercase;
  background-color: var(--basic-red);
}
.button-slider:focus {
  background-color: var(--special-error);
}
.slider-controls-dots{
  position: absolute;
  top: 222px;
  right: 297px;
  z-index: 20;
  display: flex;
  width: 25px;
  justify-content: space-between;
}
.slider-controls-dots .current {
  background-color: var(--basic-red);
}
.slider-controls-dots button:active{
  background-color: var(--basic-red);
}
.slider-controls-dots button {
  padding: 0;
  width: 8px;
  height: 8px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls-arrows{
  position: absolute;
  top:114px ;
  right: 20px;
  left: 24px;
  z-index: 20;
  display: flex;
  width: 580px;
  justify-content: space-between;
}
.right-arrow{
  width: 22px;
  height: 40px;
  background-image: url("../img/icon-right-arrow.svg");
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.left-arrow{
  width: 22px;
  height: 40px;
  background-image: url("../img/icon-left-arrow.svg");
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.slider-controls-arrows button:active{
  opacity: 0.3;
}


/*Index "Popular products" section*/
.index-popular{
  background-color: var(--basic-white);
  margin-top:59px;
}
.index-brands-header,
.index-popular-header{
  display:flex;
  align-items: center;
  background-color: var(--basic-cream);
  margin-bottom: 20px;
}
.index-brands-header h2,
.index-popular-header h2{
  margin-left: 28px ;
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-grey);
}
.index-brands-header a, 
.index-popular-header a{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;  
}
.index-popular-header a{
  margin-right: 14px;
}
.popular-section-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}


/*Index "Popular brands"section*/
.index-popular-brands{
  margin-top:70px ;
  background-color: var(--basic-white);
  margin-bottom: 70px;
}
.index-brands-header a {
  margin-right: 19px;
}
.popular-brands-list{
  list-style: none;
  display:grid;
  grid-template-columns: 220px 220px 220px 220px ;
  grid-template-rows: 145px 145px;
  gap: 20px;
  padding-left: 0;
  box-sizing: border-box;
}
.index-brand-item {
  display:flex;
  margin-left: 0;
  margin-right: 0;
  border: 1px var(--basic-greylight) solid;
  justify-content: center;
  align-items: center;
}
.index-brand-item img {
  max-width: 200px;
  max-height: 100px;
}
.index-brand-item:hover,
.index-brand-item:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/*Index Services section*/
.index-services {
  background-color: var(--basic-bluelight);
  margin-top: 0;
  padding-top: 64px;
  padding-bottom: 99px;  
}
.index-services h2 {
  color: inherit;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight:400;  
}
.index-services p{
  font-family: 'PT Sans',sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.index-services-text{
  margin-bottom: 70px;
  background-color: transparent;
  z-index: 2;
}
.services-slider{
  display: flex;
  position: relative; 
  z-index: 1;
}
.services-slide{
  margin-left: 80px;
  display: none;
  background-color: transparent;
}
.slide-current {
  display: block;
  z-index: 1;
}
.service-item-header{
  margin:0;
  font-size: 30px;
  line-height: 30px;
  font-weight:400;
  text-transform: uppercase;
  color: var(--basic-grey);  
}
.service-item-text{
  width: 313px;
  height:99px; 
  z-index: 1;
  background-color: transparent;
}
.services-slider-controls{
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  width: 240px;
  height: 185px;
  background-color: var(--basic-grey);
  position: relative; 
}
.line-shadow{
  position: absolute;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  width: 10px;
  height: 279px;
  right:0;
  top:-40px;
}
.services-slider-controls button {
  display: flex;
  align-items: center;
  padding-left: 22px;
  margin-bottom: 1px;
  height: 61px;
  width: 240px;  
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: inherit;
  border:none;
  border-top: 1px solid var(--basic-grey);
  border-bottom: 1px solid var(--basic-grey);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}
.services-slider-controls button:hover,
.services-slider-controls button:focus {
  background-color: var(--basic-darkgrey);
}
.services-slider-controls button:active{
  color: var(--basic-grey);
  background-color: var(--basic-white);
}
.service-pic-delivery{
  content: "";
  position: absolute;
  background-image: url("../img/pic-delivery.png");
  width: 468px;
  height: 261px;
  right:0px;
  top: 0px;
  z-index: -2;
}
.service-pic-garantee{
  content: "";
  position: absolute;
  background-image: url("../img/pic-garantee.png");
  width: 389px;
  height: 283px;
  right:0px;
  top: 0px;
  z-index: -2;
}
.service-pic-credit{
  content: "";
  position: absolute;
  background-image: url("../img/pic-credit.png");
  width: 465px;
  height: 285px;
  right:0px;
  top: 0px;
  z-index: -2;
}
.service-credit-submit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 195px;
  height:38px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 3px;
}

/*Index "About" and "Map" section*/
.index-about-contacts{
  display:flex;
  margin-bottom: 70px;
  margin-top:67px;
}
.index-about ul {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}
.index-about{
  width:470px;
}
.index-delivery-list li{
  position: relative;
}
.index-delivery-list li:before{
  content: "";
  position: absolute;
  top: 10px;
  left: -40px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}
 .about-button-more{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 38px;
 }
 .index-contacts{
  width: 300px;
  margin-right:0;
  margin-left:auto;
 }
.index-contacts img{
  display:flex;
  margin-bottom: 25px;
  min-width: 300px;
  min-width:158px;
 }
 .contacts-button-lost{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 38px;
}
.index-contacts h2,
.index-about h2 {
  padding:0 ;
  margin-top: 0;
  font-size: 30px;
  line-height: 30px;
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.index-about p,
.index-contacts p {
 font-family: 'PT Sans', sans-serif;
 font-weight:400;
 font-size: 13px;
 line-height: 24px;
}

/*Inner-style*/
.inner-page {
  font-family: 'PT Sans', sans-serif;
  color: var(--basic-black);
}
.page-title {
  margin:0px;
  margin-bottom: 20px;
  padding-bottom:30px;
  padding-top:30px;
  padding-left:30px;
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-darkgrey);
  text-transform: uppercase;
  background-color: var(--basic-bluelight);
}
.inner-page .site-navigation{
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}
/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}
.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -25px;
  width: 8px;
  height: 12px;  
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
}
.breadcrumbs li:first-child{
  width: 14px;
}
.home-icon{
  position: absolute;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
  width:14px;
  height:12px;
  top:2px;
}
.breadcrumbs a {
  color: var(--basic-black);
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

/* Filters */
.filters{
  width: 220px;
  position: relative;
}
.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
  border: none;
}
.filter legend {
  margin-top: 16px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}
.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}
.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}
.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
.filter-line-one {
  position: absolute;
  width: 220px;
  height: 2px;
  background-color: var(--basic-light);
  z-index: 40;
  top:-10px;
  left:0;
}
.filter-line-two{
  position: absolute;
  width: 220px;
  height: 2px;
  background-color: var(--basic-light);
  z-index: 40;
  top:240px;
  left:0;
}
.filter-header-wrapper{
  display: flex;
  justify-content: start;
  align-items: center;
  height: 38px;
  background-color: var(--basic-cream);
  margin-bottom: 14px;
  border-radius: 2px;
}
.filter-section-header{
  margin:0;
  margin-left:18px;
  width: 51px;
  height: 18px;    
}
.filter-section-header,
.catalog-sorting-header,
.catalog-sorting-item {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-cream);
  border: none;  
}
.catalog-sorting-header{
  width:81px;
  height: 18px;
  margin-left: 19px; 
}
.catalog-sorting{
  margin-bottom: 28px;
}
.catalog-sorting-wrapper{
  border-radius: 2px;
}

/*Sorting*/
.catalog-sorting-wrapper{
  display:flex;
  align-items: center;
  background-color: var(--basic-cream);
  height: 38px;
}
.catalog-sorting li {
  list-style: none;
}
.catalog-sorting-list{
  display: flex;
  margin-left: auto;
  margin-right: 16px;
  justify-content: space-between;
  width: 443px;
}
.catalog-sorting-item {
  padding:0 ;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px var(--basic-red) dotted;
}
.catalog-sorting-item:hover,
.catalog-sorting-item:focus {
  color: var(--basic-black);
  border-bottom: 1px var(--basic-red) solid;
}
.catalog-sorting-item:active {
  color: var(--basic-red);
  border-bottom: none;
}
.sorting-arrow{  
  border: none;
  background-color: transparent;
  margin:0;
  padding:0;
  width:20px;
}
.catalog-sorting-list svg path{
  fill: var(--basic-greylight);
}
.catalog-sorting-list svg:focus path,
.catalog-sorting-list svg:hover path{
  fill: var(--basic-black);
}
.catalog-sorting-list svg:active path{
  fill: var(--basic-red);
}

/*Price filter*/
.filter-price{
  margin-bottom: 25px;
}
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}
.range-filter {
  width: 220px;
  margin-top: 20px;
}
.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-cream);
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  display: flex;
  justify-content: space-between;
}
.price-controls label {
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  line-height: 30px;
}
.price-controls input {
  width: 95px;  
  color:var(--basic-white);
  text-align: center;
  color: #283136;
  border: none;
  height: 38px ; 
  border-radius: 5px;
  background-color: var(--basic-cream);
  font-family: inherit;
  font-size: inherit;
}
.price-dash{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  line-height: 18px;
}
/*Center min-max-price*/
input[type='number'] {
  -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*Сheckbox and radio*/
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
  opacity: 0.6;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
  opacity: 0.6;
}
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -1px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
  opacity: 0.6;
}
.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left:  -35px;
  top: -1px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
  opacity: 0.6;
}
.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label{
  opacity: 0.4;
}
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:checked:focus + label::after,
.filter-input-checkbox:checked:hover + label::after{
  opacity: 1;
}
.filter-input-radio:focus + label::before,
.filter-input-radio:hover + label::before,
.filter-input-radio:checked:focus + label::after,
.filter-input-radio:checked:hover + label::after{
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::after,
.filter-input-radio:disabled + label::before,
.filter-input-radio:checked:disabled + label::after{
  opacity: 0.4;
}

/*Filter button*/
.filter-show {
  width: 220px;
  height:38px;
  font-family: inherit;
  text-transform: uppercase;
  background-color: inherit;
  color: inherit;
  border: 1px var(--basic-greylight) solid;
}


/* Catalog */
.catalog {
  margin-left: 20px;
}
.catalog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.catalog-item-wrapper{
  margin: 0;
  padding: 0;
  min-height:318px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.catalog-item {
  font-family: 'PT Sans',sans-serif ;
  width: 220px; 
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px var(--basic-greylight) solid;
  box-sizing: border-box;
  margin-right:20px;
  margin-bottom: 18px;
}
.catalog-item:nth-child(3n){
  margin-right: 0;
}

/*For Index catalog product-section*/
.index-product-item:nth-child(4n){
  margin-right: 0;
 }
 .index-product-item:nth-child(3n){
  margin-right: 20px;
}

.catalog-item h3 {
  margin: 0;
  padding:0;
  margin-top: 5px;
  margin-bottom: 8px; 
  text-transform: none;
  font-size: 18px;
  line-height: 20px;
}
.catalog-item a {
  color:inherit;
}
.catalog-item-image{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 184px;
  height:164px;
}
.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.price-wrapper{
  padding:0;
  margin: 0;
  margin-top:7px;
}
.old-price {
  margin: auto;
  padding: 0;
  color: var(--basic-greylight);
  text-decoration: line-through;
}
.current-price {
  position: relative;
  margin:0;
  margin-top: auto;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 10px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  z-index: 2;
}
.current-price::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -13.5px;
  width: 27px;
  height: 27px;
  background-color: var(--basic-red);
  transform: rotate(45deg);
  z-index: -1;
}
.new-item {  
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 18px;
  display: block;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red) ;
  position: absolute;
  text-align: center;
  width: 50px;
  padding-top:4.5px;
  padding-bottom: 5px;
  right:2.5px;
  top:13.5px;
  transform: rotate(45deg);
}
.new-item::before{
  content: ''; 
  position: absolute; 
  left: -19px; top: 8px;
  border: 19.5px solid transparent; 
  border-top: 19.5px solid var(--basic-red);
  transform: rotate(-45deg);
}
.new-item::after{
  content: ''; 
  position: absolute; 
  left: 30px; top: 7px;
  border: 19px solid transparent; 
  border-top: 20px solid var(--basic-red);
  transform: rotate(45deg);
}
.catalog-item-hover{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 184px;
  height:164px;
}
.catalog-item-bookmarks,
.catalog-item-buy{
  width:135px;
  height: 38px;
  margin-bottom: 10px;
  font-family: inherit;
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

/*Catalog button*/
.catalog-item-buy {
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--basic-green);
}
.catalog-item-buy:hover,
.catalog-item-buy:focus {
  background-color: var(--special-success);
}
.catalog-item-bookmarks {
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  color: var(--basic-darkgrey);
  background-color: var(--basic-white);
  border: 3px var(--basic-green) solid;
}
.catalog-item-bookmarks:hover,
.catalog-item-bookmarks:focus {
  border: 3px var(--basic-darkgrey) solid;
}
.catalog-item-bookmarks:active {
  border: 3px var(--basic-greylight) solid;
  color: var(--basic-greylight);
  background-color: var(--basic-white);
}

/*Page Choice*/
.page-choice{
  margin-bottom: 58px;
}
.page-choice-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.page-choice-item {
  width: 38px;
  height: 38px;
  list-style: none;
  text-align: center;
  font-family: 'PT Sans',sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px var(--basic-light) solid; 
  margin-right:10px ;
}
.page-choice-item a{
  display: block;
  padding: 10px 10px;
}
.page-choice-list a {
  color: inherit;
}
.page-choice-item:last-child{
  width: 140px;
  height: 38px; 
  margin-right: 0;
}
.page-choice-item:hover,
.page-choice-item:focus {
  border: 1px var(--basic-greylight) solid;
}
.page-choice-item:active {
  border: 1px var(--basic-red) solid;
}


/*Catalog "About product" section*/
.about-products-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 58px;
}
.about-product-section{
  background-color: var(--basic-bluelight);
}
.about-product-section h2 {
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  padding-top: 40px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-bluelight);
}
.about-products-wrapper p {
font-family: 'PT Sans', sans-serif;
font-weight:400;
font-size: 13px;
line-height: 24px;
}

/*Footer section: one*/
.footer{
  font-weight: 400;
}
.footer .container{
  display: grid;
  grid-template-rows: 150px 1fr;
  margin-bottom:0;
}

.footer-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 18px;
  list-style: none;
  color:var(--basic-white);
}
.footer-wrapper{
  background-color: var(--basic-grey);
  margin-bottom:0;
}
.footer-box li {
  list-style: none;
}
.footer-navigation{
  display:flex;
  justify-content:space-between;
  min-width:550px;
}
.footer-navigation a {
  color: var(--basic-white);
}
.footer-assortment{
 display:flex;
 justify-content:space-between;
 margin-bottom:0;
}

.footer-assortment a {
  color: var(--special-yellowlight);
}
.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-assortment a:hover,
.footer-assortment a:focus {
  text-decoration: underline;
}
.footer-navigation a:active,
.footer-assortment a:active {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

/*Footer section:two*/
.footer-oters {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 16px;
  line-height: 18px;
  color:var(--basic-white);
}
.footer-wrapper-two {
  background-color: var(--basic-darkgrey);
}
.footer-copyright{
  margin-top: 35px;
  min-width:227px;
  margin-right: 162px;
}
.footer-socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  width:134px;
  min-height:44px;
  margin-top: 35px;
  list-style: none;

}
.footer-feedback{
  margin-top: 35px;
  width: 137px;
  margin-right: 0; 
  margin-left: auto;
}
.footer-dev{
  margin-top: 35px;
  margin-left: 0;
  max-width: 98px;
  justify-self: end;
}

/* Social button */
.footer-socials a {
  display: block;
}
.vk-icon,
.fb-icon,
.insta-icon  {
  background-color: var(--basic-dark);  
  height:44px;
  width: 44px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.vk-icon{
  background-image: url("../img/icon-vk.svg");
}
.fb-icon{
  background-image: url("../img/icon-fb.svg");
}
.insta-icon{
  background-image: url("../img/icon-insta.svg");
}
.vk-icon:hover,
.vk-icon:focus,
.vk-icon:active,
.fb-icon:hover,
.fb-icon:focus,
.fb-icon:active,
.insta-icon:hover,
.insta-icon:focus,
.insta-icon:active {
  background-color: var(--basic-red);
}
.footer-feedback a,
.footer-dev a {
  color: var(--special-yellowlight);
}
.footer-feedback a:hover,
.footer-feedback a:focus,
.footer-dev a:hover,
.footer-dev a:focus {
  text-decoration: underline;
}
.footer-feedback a:active,
.footer-dev a:active {
  color: var(--basic-red);
  text-decoration: none;
}
.inner-page .footer {
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
}

/*Modal*/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-family: 'Cuprum',sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);  
  box-shadow: 0px 20px 40px rgba(41, 52, 73, 0.75);
  border-top: 7px solid var(--basic-red); 
  z-index: 20;
}
.modal-map{
  display: none;
  width: 980px;
  height: 487px;
  padding: 0;
}
.modal-close{
  position: absolute;
  top: 11px;
  right: 11px;
  width: 21px;
  height: 21px;  
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  width: 21px;
  height: 3px;
  background-color: var(--basic-red);
  border-radius: 1px;
}
.modal-close::before {
  transform: rotate(45deg);
}
.modal-close::after {
  transform: rotate(-45deg);
}
.big-map-wrapper svg{
  position: absolute;
  left: 20px;
  top: 12px;
}
/*Modal notification*/
.modal-notification{
  display: flex;
  display: none;
  flex-direction: column;
  width:620px;
  height:282px;
  padding:0;
  background-color: var(--basic-white);
}
.modal-notification-text{
  align-self: center;
  margin-top: 73px;
  margin-bottom:50px ;
}
.icon-mark{
  content: "";
  position: absolute;
  top: 48px;
  left: 81px;
  width: 66px;
  height: 66px;  
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
}
.modal-notification-buttons{  
  margin-bottom: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1F1F1;
  height:112px;
}
.modal-notification-buttons a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-right: 10px;
  height: 32px;
}
.modal-continue-button {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  border:none ;
  background-color: var(--basic-white);
  width: 192px;
  height:32px;
}
/*Modal feedback*/
.modal-feedback{
  display: none;
  width: 620px;
  height: 430px;
  background-color: var(--basic-white);
  top: 120px;
  bottom: auto;  
}
.feedback-wrapper{
  padding: 37px 80px;
}
.feedback-button-wrapper{
  background-color: var(--basic-light);
  width:620px;
  height: 112px;
  padding: 0;
  margin: 0;
}
.feedback-form input[type="email"],
.feedback-form input[type="text"],
.feedback-form textarea{
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-light);
  font-weight: 400;
  background-color: var(--basic-extra-light);
  border: 2px solid var(--basic-light);
  border-radius: 2px;
}
/*Others*/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}