/* Variables */

:root {
    --basic-black: #000000;
    --basic-red:#EE3643;
    --basic-green:#63A63E;
    --basic-grey:#32425C;
    --basic-darkgrey:#293449;
    --basic-dark:#1D2739;
    --basic-bluelight:#F1F5F7;
    --basic-light:#E5E5E5;
    --basic-greylight:#C5C5C5;
    --basic-cream:#F9F5F0;
    --basic-white:#FFFFFF;

    --special-yellow:#FFBF47;
    --special-blue:#3BBCE3;
    --special-lilac:#DC91D8;
    --special-greenlight:#8ED78F;
    --special-yellowlight:#FFD180;
    --special-error:#BA2732;
    --special-success:#5FBB2D;
}

/* Global */
body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: none;
}
a {
    text-decoration: none;
  }

img {
  max-width: 100%;
  height: auto;
}

/*Header Menu Part One*/ 
.main-header {
  background-color: var(--basic-bluelight);
}
.header-menu-wrapper {
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-darkgrey);
}
.logo {
  background-color: var(--basic-red);
}  
.logo:active{
  background-color: var(--special-error);
}
.header-search input {
 font: inherit;
 color: var(--basic-white);
 background-color: transparent;
 border: none;
}
/*не понятно пока, как поменять цвет placeholder + при клике меняется вообще все поле*/

.header-bookmarks {
  color: var(--basic-white);
  background-color: var(--basic-darkgrey);
  border: none; 
} 
button.header-bookmarks:active {
  color: rgba(255, 255, 255, 0.5);
  border: none; 
}
.header-cart a:active {
  color: rgba(255, 255, 255, 0.5);
}
.header-order {
  background-color: var(--basic-green);
}
.header-order a:hover
.header-order a:focus {
  background-color: var(--special-success)
}
.header-order a:active {
  color: rgba(255, 255, 255, 0.5);
}

/*Header Menu Part Two*/  
.header-menu-wrapper-two {
  font-family: 'Cuprum', sans-serif;
  font-size: 21px;
  color: var(--basic-black);
}
.header-text {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}  
.header-phone {
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: var(--basic-red);
  border: 4px var(--basic-white) solid ;
  width: 270px;
  height: 45px;
}
.header-adress {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-darkgrey);
} 

/*Header-user-login*/
.user-name a {
  color: inherit;
}
.user-name a:active {
  color: var(--basic-greylight);
}
.header-user-nav a { 
  line-height: 21px;
  color: inherit;
  background-color: var(--basic-white);  
}
.header-login-options a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-darkgrey);
}
.header-user-nav a:hover,
.header-user-nav a:focus,
.header-login-options a:hover,
.header-login-options a:focus {
  color: var(--basic-red);
}
.header-user-nav a:active,
.header-login-options a:active {
  color: var(--basic-greylight);
}

/* Main navigation */
.main-navigation {
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-white);
  background-color: var(--basic-grey);
}
.site-navigation {
  list-style: none;
}
.site-navigation-current a:not([href]) {
  background-color: var(--basic-grey);
}
.site-navigation a,
.header-menu-wrapper a {
  color: var(--basic-white);
}
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-darkgrey);
}
.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

/*Index "Promo" section*/
.promo-section {
  font-family: 'Cuprum', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-white);
}
.promo-section a {
  color: var(--basic-white);
}
.promo-section-list {
  list-style: none;
}
.index-promo-materials,
.index-promo-delivery {
  background-color: var(--special-yellow);
}
.index-promo-tools{
  background-color: var(--special-blue);
}
.index-promo-machinery{
  background-color: var(--special-lilac);
}
.index-promo-sale{
  background-color: var(--special-greenlight);
}
/*Slider*/

.index-slider h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.25);
}
.index-slider p{
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: rgba(0, 0, 0, 0.25);
}

/*Index "Popular products" section*/
.index-popular{
  background-color: var(--basic-white);
}
.global-section-header {
  background-color: var(--basic-cream);
}
.global-section-header h2,
.global-section-header h3 {
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-darkgrey);
}
.popular-section-list {
  list-style: none;
}

/*Index "Popular brands"section*/
.index-popular-brands{
  background-color: var(--basic-white);
}
.index-brand-item {
  border: 1px var(--basic-greylight) solid;
}
.index-brand-item:hover,
.index-brand-item:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/*Index Services section*/
.index-services {
  background-color: var(--basic-bluelight);
}
.index-services h2 {
  color: var(--basic-black);
}
.index-servises-item {
  background-color: transparent;
}
.global-section-p {
  font-family: 'PT Sans', sans-serif;
  font-weight:400;
  font-size: 13px;
  line-height: 24px;
}
.index-services-buttons button {
  font-family: Cuprum;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--basic-grey);
  border:none;
}
.index-services-buttons button:hover,
.index-services-buttons button:focus {
  background-color: var(--basic-darkgrey);
}
.index-services-buttons button:active{
  color: var(--basic-grey);
  background-color: var(--basic-white);
}

/*Index "About" and "Map" section*/
.index-about,
.index-contacts {
  background-color: var(--basic-white) ;
}
.index-about h2,
.index-contacts h2 {
  color: var(--basic-black);
}
.index-about ul {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}
  /* Button */
.button {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  }
.button:active {
  background-color: var(--special-error);
}

.button-promo-item {
  background-color: rgba(255, 255, 255, 0.3);
}
.button-promo-item:hover,
.button-promo-item:focus {
  background-color: rgba(197, 197, 197, 0.3);
}
.button-promo-item:active {
  background-color: rgba(66, 66, 66, 0.3);
}

/*Inner-style*/
.inner-page {
  font-family: 'PT Sans', sans-serif;
  color: var(--basic-black);
}
.page-title {
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-darkgrey);
  text-transform: uppercase;
  background-color: var(--basic-bluelight);
}
.inner-page .site-navigation{
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}
/* Breadcrumbs */
.breadcrumbs {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.breadcrumbs a {
  color: var(--basic-black);
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

/* Filters */
.filter legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}
.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}
.filter-section-header {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-cream);
  border: none;
}
.filter-price h3 {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;

}
.catalog-sorting li {
  list-style: none;
}
.catalog-sorting-list {
  background-color: var(--basic-cream);
}
.catalog-sorting-item {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px var(--basic-red) dashed;
}
.catalog-sorting-item:hover,
.catalog-sorting-item:focus {
  color: var(--basic-black);
  border-bottom: 1px var(--basic-red) solid;
}
.catalog-sorting-item:active {
  color: var(--basic-red);
  border-bottom: none;
}

.filter-price div,
.filter-price span {
  background-color: var(--basic-cream);
}
/*Filter button*/
.filter-show {
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: 1px var(--basic-greylight) solid;
}

/* Catalog */
.catalog-list {
  list-style: none;
}
.catalog-item {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px var(--basic-greylight) solid;
}
.catalog-item h3 {
  text-transform: none;
  font-size: 18px;
  line-height: 20px;
}
.catalog-item a {
  color: var(--basic-black);
}
.catalog-item:hover,
.catalog-item:focus {
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.old-price {
  color: var(--basic-greylight);
  text-decoration: line-through;
}
.current-price {
  background-color: var(--basic-red);
  color: var(--basic-white);;
}
.new-item {
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red) ;
}

/*Catalog button*/
.catalog-item-buy {
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--basic-green);
}
.catalog-item-buy:hover,
.catalog-item-buy:focus {
  background-color: var(--special-success);
}
.catalog-item-bookmarks {
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  color: var(--basic-darkgrey);
  background-color: var(--basic-white);
  border: 3px var(--basic-green) solid;
}
.catalog-item-bookmarks:hover,
.catalog-item-bookmarks:focus {
  border: 3px var(--basic-darkgrey) solid;
}
.catalog-item-bookmarks:active {
  border: 3px var(--basic-greylight) solid;
  color: var(--basic-greylight);
  background-color: var(--basic-white);
}
/*Page Choice*/
.page-choice-list li {
list-style: none;
font-family: 'PT Sans',sans-serif;
font-size: 13px;
line-height: 18px;
text-transform: uppercase;
border: 1px var(--basic-light) solid;

}
.page-choice-list a {
  color: var(--basic-black);
}
.page-choice-item:hover,
.page-choice-item:focus {
  border: 1px var(--basic-greylight) solid;
}
.page-choice-item:active {
  border: 1px var(--basic-red) solid;
}

/*Catalog "About product" section*/
.about-product-section{
  background-color: var(--basic-bluelight);
}
.about-product-section h2 {
  color: var(--basic-black);
  background-color: var(--basic-bluelight);
}

/*Footer section: one*/
.footer{
  font-weight: 400;
}
.footer-box {
  font-size: 18px;
  list-style: none;
  color:var(--basic-white);
  background-color: var(--basic-grey);
}
.footer-box li {
  list-style: none;
}
.footer-navigation a {
  color: var(--basic-white);
}
.footer-assortment a {
  color: var(--special-yellowlight);
}
.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-assortment a:hover,
.footer-assortment a:focus {
  text-decoration: underline;
}
.footer-navigation a:active,
.footer-assortment a:active {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

/*Footer section:two*/
.footer-oters {
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-darkgrey);
  color:var(--basic-white);
}

.footer-socials {
  list-style: none;
  text-align: center;
  background-color: var(--basic-dark) ;
}

/* Social button */
.social-button {
  color: inherit;
}
.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red);
}
.footer-feedback a,
.footer-dev a {
  color: var(--special-yellowlight);
}
.footer-feedback a:hover,
.footer-feedback a:focus,
.footer-dev a:hover,
.footer-dev a:focus {
  text-decoration: underline;
}
.footer-feedback a:active,
.footer-dev a:active {
  color: var(--basic-red);
  text-decoration: none;
}
.inner-page .footer {
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;

}

/*Others*/
.visually-hidden{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
