/* Variables */

:root {
  --basic-black:#000000;
  --basic-dark:#1D2739;
  --basic-darkgrey:#293449;
  --basic-grey:#32425C;
  --basic-red:#EE3643;
  --basic-green:#63A63E;
  --basic-greylight:#C5C5C5;
  --basic-light:#E5E5E5;
  --basic-cream:#F9F5F0;
  --basic-bluelight:#F1F5F7;
  --basic-white:#FFFFFF;

  --special-darkgrey:#405069;
  --special-error:#BA2732;
  --special-brown:#8F6A33;
  --special-yellow:#FFBF47;
  --special-yellowlight:#FFD180;
  --special-darkgreen: #367315;
  --special-almostgreen:#518534;
  --special-green:#00CA74;
  --special-success:#5FBB2D;
  --special-greenlight:#8ED78F;
  --special-blue:#3BBCE3;
  --special-lilac:#DC91D8;
  --spcial-lightgrey:#ABABAB;
  --special-grey:#A9A9A9;
  --special-light: #CFCFCF;
  --special-pale-grey:#D7DCDE; 
  --special-white: #F1F1F1;

  --special-opacitygrey:rgba(197, 197, 197, 0.3);
  --special-opacitydarkgrey: rgba(66, 66, 66, 0.3);
  --special-opacityblack:rgba(0, 0, 0, 0.25);

  --shadow-light: rgba(0, 0, 0, 0.15);
  --shadow-normal:rgba(0, 0, 0, 0.24);
  --shadow-midle: rgba(255, 255, 255, 0.5);
  --shadow-lightmidle: rgba(255, 255, 255, 0.3);
  --shadow-dark: rgba(0, 0, 0, 0.1);
  --shadow-almostdark: rgba(0, 0, 0, 0.3);
}

/* Global */
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: none;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Grid*/
.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*Grid for pages*/
.page-catalog{
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
}
.page-catalog .page-title {
  grid-column: 1 / -1;
}

/*Header Menu Part One*/ 
.main-header {
  background-color: var(--basic-bluelight);
}
.header-menu-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;  
  align-items: flex-start;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.header-wrapper {  
  margin: 0;
  padding: 0;
  background-color: var(--basic-darkgrey);
  color: var(--basic-white);
}
.logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center ;
  align-items: center;
  position: relative;
  min-width: 220px;
  min-height: 42px;  
  background-color: var(--basic-red);
}
.logo-wrapper:active {
  background-color: var(--special-error);
}
.logo-wrapper::after {
  content: "";
  position: absolute;
  width: 220px;
  height: 5px;
  bottom: -5px;
  background-color: var(--basic-red);
  box-shadow: inset  0px -5px 0px var(--shadow-normal);
} 
.logo {
  width: 108px;
  height: 17px; 
  background-color: transparent;
}  
.logo:active{
  background-color: var(--special-error);
}
.header-search{
  width: 271px;
  position: relative;
  margin-right: auto;
 }
 .header-search button{
  position: absolute;
  top: 2px;
  left: 15px;
  height: 42px;  
  width: 20px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
 }
 .header-search input {
  display: block;   
  padding: 0;
  padding-left: 42px;
  border: 0;
  width: 271px; 
  height: 42px;
  font-size: 18px;
  line-height: 24px;
  background-color: transparent;
 }
.page-body input:hover + button path {
  opacity: 1;
  background-color: transparent;
}
.header-search input:focus {
  background-color: var(--basic-white);
}
.header-search input:focus + button path {
  fill: var(--basic-red);
  background-color: var(--basic-white);
}
.header-search input:hover + input::placeholder{
  color: var(--basic-white);
}
.header-search input[type="search"]::-moz-placeholder {
  color: var(--basic-white); 
 }
.header-search input[type="search"]::-webkit-input-placeholder {
  color: var(--basic-white); 
}
.header-search input[type="search"]:-ms-input-placeholder { 
  color: var(--basic-white); 
}
.header-search input[type="search"]::-ms-input-placeholder { 
  color: var(--basic-white); 
}
.header-search input[type="search"]::placeholder {
   color: var(--basic-white); 
} 
.header-search input {
  outline:none;
}
.header-bookmarks {
  display: block;
  position: relative;  
  color: var(--basic-white);
  background-color: var(--basic-darkgrey);
  border: none;   
  cursor: pointer;  
  padding-top: 10px;
  padding-right: 24px;
  padding-left: 42px; 
  padding-bottom: 8px;
} 
.header-bookmarks::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 19px;
  width: 14px;
  height: 16px;  
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;  
  opacity: 0.3;
}

.header-bookmarks:hover::before,
.header-bookmarks:focus::before {
  opacity: 1;
}
.header-bookmarks:active::before {
  opacity: 0.3;
}
.header-bookmarks:active {
  color: var(--shadow-midle);
  border: none; 
  background-color:var(--basic-dark);
}
.header-cart {
  display: block;
  position:relative;
  padding: 9px 0;
  padding-left: 35px;
  padding-right: 26px;
  margin-left: auto;
}
.header-cart::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 11px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;  
}

.header-cart:hover::before,
.header-cart:focus::before {
  opacity: 1;
}
.header-cart:active::before {
  opacity: 0.3;  
}
.header-cart:active {
  color: var(--shadow-midle);
  background-color:var(--basic-dark);
}
.header-counter{
  background-color: var(--basic-red);
}
.header-order {
  margin-right: 0;
  background-color: var(--basic-green);
  padding: 9px 19px ;
  padding-right: 17px;
}
.header-order:hover,
.header-order:focus {
  background-color: var(--special-success)
}
.header-order:active {
  color: var(--shadow-midle);
}

/*Header Menu Part Two*/  
.header-menu-wrapper-two {
  display: flex;  
  flex-wrap: wrap;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 21px;
  color: var(--basic-black); 
  padding: 0;
  margin: 0; 
}
.header-text {
  margin-left:30px;
  margin-right: 93px;
  margin-top: 44px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  width: 197px;
}  
.header-contact{
  display:flex;
  flex-wrap: wrap;
  flex-direction:column;
  align-items: center;
  width: 270px;
  margin:0;
  margin-top:46px;
  margin-bottom: 40px;
  padding:0;
  
}
.header-phone {
  padding-right: 42px;
  padding-left: 71px;
  padding-top: 4px;
  padding-bottom: 5px;
  font-family:"Cuprum",sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  color: var(--basic-red);
  border: 3px var(--basic-white) solid ;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}
.header-phone::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 36px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;  
}
.header-adress {
  margin: 0;
  padding: 0;
  margin-top: 3px;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-grey); 
} 

/*Header-user-login*/
.header-profile {
  margin-left: 51px;
}
.user-name{
  display: flex;
  position: relative;
  margin: 0;
  margin-top: 46px;
  padding: 0;
}
.user-name a {
  color: inherit;
  background-color: var(--basic-white);  
}
.user-name a:active {
  color: var(--basic-greylight);
}
.user-name-text {
  font-size: 21px;
  line-height: 21px;
  padding-left: 56px;
  padding-right: 57px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.header-login-options ul {
  margin-top: 7px;
  display: flex;
  padding-left:44px;
  flex-wrap: wrap;  
  list-style: none;
}
.header-login-options li {
  position: relative;
  font-size: 16px;  
  line-height: 18px;
  margin-right: 32px;
}
.header-login-options a {
  color: var(--basic-grey);
}
.header-login-options li:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 7px;
  right: -18px;
  width: 4px;
  height: 4px;
  background-color: var(--basic-darkgrey) ;
  border-radius: 50%;  
}
.icon-user {
  position: absolute;
  left: 15px;
  top: 13px;
  width: 20px;
  height:18px;
  z-index: 1;
}
.icon-logout {
  position: absolute;
  right: 17px;
  top: 14px;
  width: 20px;
  height:17px;
  background-color: transparent;
  border: none;  
}
.icon-user :focus  path,
.icon-user:hover path,
.icon-logout:focus path,
.icon-logout:hover path {
  fill: var(--basic-grey);
}
.header-user-nav {
  display:flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top:46px;
  margin-bottom: 67px;
  margin-left: 69px;
  padding: 0;
  min-width: 281px;
  min-height: 45px;
}
.header-login {
  position: relative;
  font-size: 21px;
  line-height: 21px;
  padding: 12px 0px;
  padding-left: 45px;
  padding-right: 27px; 
  margin:0;
  color: inherit; 
  background-color: var(--basic-white);   
}
.header-login svg {
  position: absolute;
  left: 19px;
  top: 14px;  
}
.header-login:hover path,
.header-login:focus path {
  fill: var(--basic-grey);
}
.header-login:active path {
  fill: var(--basic-greylight);
}
.header-registration {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  margin-left: 10px;
  padding: 12px 24PX;
  color: inherit;
  background-color: var(--basic-white); 
}
.header-user-nav a:hover,
.header-user-nav a:focus,
.header-login-options a:hover,
.header-login-options a:focus {
  color: var(--basic-red);
}
.header-user-nav a:active,
.header-login-options a:active {
  color: var(--basic-greylight);
}


/* Main navigation */
.main-navigation {
  display: flex;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-grey);
  box-shadow: inset 0px -5px 0px var(--basic-darkgrey);
  padding-left: 25px;
  padding-right: 20px;
  margin-bottom: 60px;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 940px;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height:60px;
}
.site-navigation a{
  display: block;
  padding: 28px;
  padding-top: 16px;
  padding-bottom: 20px;
}
.site-navigation-current a:not([href]) {
  background-color: var(--basic-grey); 
}
.site-navigation a,
.header-menu-wrapper a {
  color: var(--basic-white);
}
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-darkgrey);
}
.site-navigation a:active {
  color: var(--shadow-midle);
}

/*Container*/
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Button */
.button {
  font: inherit;
  min-width: 192px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
}
.button:active {
  background-color: var(--special-error);
  outline: none;
}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0; 
}

/*Index "Promo" section*/
.promo-section {
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  margin-top: 59px;
  box-sizing: border-box;
}
.promo-item a {
  display: flex;
  justify-content: center;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: inherit;
  background-color: var(--shadow-lightmidle);
}
.promo-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-family: "Cuprum", "PT Sans", sans-serif;
  margin-top: 20px;
  margin-bottom: 14px;
}
.promo-item a:hover,
.promo-item a:focus {
  background-color: var(--special-opacitygrey);
}
.promo-item a:active {
  background-color: var(--special-opacitydarkgrey);
}
.promo-section-list {
  display: grid;
  padding-left: 0;
  grid-template-columns:  300px  300px  300px;
  grid-template-rows: 123px 123px 123px; 
  gap: 20px;
  list-style: none;
  grid-template-areas:
    "m1 t m2"    /* первый ряд грида */
    "s2 s2 s"  /* второй ряд грида */
    "s2 s2 d"; /* третий ряд грида */
}
.promo-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start ;
  padding-left: 22px;
}

.index-promo-materials {
  grid-area: m1;
  position: relative;
}
.icon-materials{
  position: absolute;
  right: 43px;
  top: 31px;
  background-image: url("../img/icon-materials.svg");
  background-repeat: no-repeat;
  width: 44px;
  height:65px;
}
.index-promo-materials,
.index-promo-delivery {
  background-color: var(--special-yellow);
}
.index-promo-tools {
  grid-area: t;
  position: relative;
  background-color: var(--special-blue);
}
.icon-tools {
  position: absolute;
  right: 31px;
  top: 34px;
  background-image: url("../img/icon-tools.svg");
  background-repeat: no-repeat;
  width: 75px;
  height:61px;
}
.index-promo-machinery {
  grid-area: m2;
  background-color: var(--special-lilac);
  position: relative;
}
.icon-machinery {
  position: absolute;
  right: 31px;
  top: 31px;
  background-image: url("../img/icon-machinery.svg");
  background-repeat: no-repeat;
  width: 78px;
  height:62px;
}
.index-promo-sale {
  grid-area: s;
  background-color: var(--special-greenlight);
  position: relative;
}
.icon-sale {
  position: absolute;
  right: 45px;
  top: 26px;
  background-image: url("../img/icon-sale.svg");
  background-repeat: no-repeat;
  width: 59px;
  height: 72px;
}
.index-promo-delivery {
  grid-area: d;
  position: relative;
}
.icon-delivery {
  position: absolute;
  right: 31px;
  top: 32px;
  background-image: url("../img/icon-delivery.svg");
  background-repeat: no-repeat;
  width: 78px;
  height: 63px;
}

/*Slider*/
.promo-slider-wrapper { 
  grid-area: s2;  
  width: 620px;  
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
  
}
.promo-slider-wrapper-1 {
  background-color: var(--special-brown);
  background-image: url("../img/slider-1.jpg");
}
.promo-slider-wrapper-2 {
  background-color: var(--special-brown);
  background-image: url("../img/slider-2.jpg");
}
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;  
}
.slide {
  display: none;
}
.slide-current {
  display: block;
}
.promo-slider{
  width: 620px;
  height: 266px;
}
.slider-item-header{
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--special-opacityblack);
  height: 104px;
  width: 620px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start ;
  margin-bottom: 97px;
}
.slider-title {
  margin: 0;
  padding: 0;
  margin-left: 24px;
  margin-top: 23px; 
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  width: 240px;
}
.slider-description{
  margin: 0;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 258px;
  height: 24px; 
  text-transform: none;
}
.button-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  color: inherit;
  width: 192px;
  height: 38px;
  padding: 0; 
  margin-bottom: 26px;
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;  
  text-transform: uppercase;
  background-color: var(--basic-red);
}
.button-slider:focus {
  background-color: var(--special-error);
}
.slider-controls-dots{
  position: absolute;
  top: 220px;
  right: 295px;
  z-index: 20;
  display: flex;
  width: 30px;
  justify-content: space-between;
}
.slider-controls-dots .current {
  background-color: var(--basic-red);
}
.slider-controls-dots button:active{
  background-color: var(--basic-red);
}
.slider-controls-dots button {
  padding: 0;
  width: 9px;
  height: 9px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls-arrows {
  position: absolute;
  top:122px ;
  right: 20px;
  left: 24px;
  z-index: 20;
  display: flex;
  width: 576px;
  justify-content: space-between;
}
.right-arrow {
  width: 22px;
  height: 40px;
  background-image: url("../img/icon-right-arrow.svg");
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.left-arrow {
  width: 22px;
  height: 40px;
  background-image: url("../img/icon-left-arrow.svg");
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.slider-controls-arrows button:active {
  opacity: 0.3;
}


/*Index "Popular products" section*/
.index-popular {
  background-color: var(--basic-white);
  margin: 0;
  padding: 0;
  margin-top: 59px;
}

.index-popular-header,
.index-brands-header {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--basic-cream);
  margin-bottom: 20px;
  margin-top: 0;
}

.index-popular-header h2,
.index-brands-header h2 {
  margin-left: 28px;
  margin-bottom: 29px;
  margin-top: 30px;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-grey);
}

.index-brands-header a, 
.index-popular-header a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 11px;
  padding-bottom: 9px;
  margin: 0 auto;
  margin-bottom: 26px;  
  margin-top: 24px;
}
.index-popular-header a {
  margin-right: 14px;
  
}

.popular-section-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.popular-section-list .catalog-item{
  margin-bottom: 0;
}


/*Index "Popular brands"section*/
.index-popular-brands {
  margin-top: 70px ;
  margin-bottom: 70px;
  background-color: var(--basic-white);
}
.index-brands-header a {
  margin-right: 19px;
}
.popular-brands-list {
  list-style: none;
  display: grid;
  grid-auto-rows: 145px;
  grid-template-columns: 220px 220px 220px 220px ;
  grid-template-rows: 145px 145px;
  gap: 20px;
  padding-left: 0;
  box-sizing: border-box;
}
.index-brand-item {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  border: 1px var(--basic-greylight) solid;
  justify-content: center;
  align-items: center;
}
.index-brand-item img {
  max-width: 200px;
  max-height: 100px;
}
.index-brand-item:hover,
.index-brand-item:focus {
  box-shadow: 0px 4px 20px var(--shadow-light);
}
.index-brand-item:active {
  opacity: 0.5;
} 

/*Index Services section*/
.index-services {
  background-color: var(--basic-bluelight);
  margin-top: 0;
  padding-top: 64px;
  padding-bottom: 100px;  
}
.index-services-header {
  margin-top:0;
}
.index-services h2 {
  color: inherit;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight:400;  
}
.index-services p {
  font-family: "PT Sans", "Cuprum", sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.index-services-text {
  margin-bottom: 70px;
  background-color: transparent;
  z-index: 2;
}
.services-slider {
  display: flex;
  position: relative; 
  z-index: 1;
}
.services-slide {
  margin-left: 80px;
  display: none;
  background-color: transparent;
}
.slide-current {
  display: block;
  z-index: 1;
}
.service-item-header {
  margin: 0;
  width: 330px ;
  font-size: 30px;
  line-height: 30px;
  font-weight:400;
  text-transform: uppercase;
  color: var(--basic-grey);  
}
.service-item-text {
  margin-top: 30px;
  width: 313px;
  height:99px; 
  z-index: 1;
  width: 330px ;
  font-size: 30px;
  line-height: 30px;
  font-weight:400;
  background-color: transparent;
}
.services-slider-controls {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 240px;
  height: 186px;
  background-color: var(--basic-grey);
  position: relative; 
}
.line-shadow {
  position: absolute;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  width: 10px;
  height: 279px;
  right: 0;
  top:-40px;
}
.service-button  {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 22px;
  height: 61px;
  width: 240px;  
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: transparent;
  border: none;
  margin-bottom: 1px;
  box-shadow: 0px 1px 0px var(--basic-darkgrey), inset 0px 1px 0px var(--special-darkgrey);
}
.current-button {
  color: var(--basic-grey);
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px var(--basic-white);
}
.service-button:hover,
.service-button:focus {
  background-color: var(--basic-darkgrey);
  color: var(--basic-white);
}
.service-button:active,
.currrent-service-button {
  color: var(--basic-grey);
  background-color: var(--basic-white);
}
.service-pic-delivery {
  content: "";
  position: absolute;
  background-image: url("../img/pic-delivery.png");
  width: 468px;
  height: 261px;
  right:0px;
  top: 20px;
  z-index: -2;
}
.service-pic-garantee {
  content: "";
  position: absolute;
  background-image: url("../img/pic-garantee.png");
  width: 389px;
  height: 283px;
  right: 0px;
  top: 0px;
  z-index: -2;
}
.service-pic-credit {
  content: "";
  position: absolute;
  background-image: url("../img/pic-credit.png");
  width: 465px;
  height: 285px;
  right: 0px;
  top: 25px;
  z-index: -2;
}
.service-credit-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 195px;
  height:38px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 3px;
}

/*Index "About" and "Map" section*/
.index-about-contacts {
  display:flex;
  margin-bottom: 70px;
  margin-top:70px;
}
.index-about ul {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}
.index-about {
  width:470px;
}

.index-delivery-list {
  margin-top:5px;
  padding-left: 38px;
}
.index-delivery-list li {
  position: relative;
  margin-bottom: 12px;
}
.index-delivery-list li:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -39px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}
 .about-button-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 38px;
 }
 .index-contacts {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right:0;
  margin-left:auto;
 }
.index-contacts img {
  display:flex;
  margin-bottom:0;
  margin-top:32px;
  min-width: 300px;
  min-width:158px;
 }
 .contacts-button-lost {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 38px;
  margin-bottom:0 ;
  margin-top:auto;
}
.index-contacts h2,
.index-about h2 {
  padding:0 ;
  margin-top: 0;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.index-about p,
.index-contacts p {
 font-family: "PT Sans", "Cuprum", sans-serif;
 font-weight:400;
 font-size: 13px;
 line-height: 24px;
 margin:0;
}
.map {
  cursor: pointer;
}

/*Inner-style*/
.inner-page {
  font-family: "PT Sans", "Cuprum", sans-serif;
  color: var(--basic-black);
}
.page-title {
  margin: 0px;
  margin-bottom: 20px;
  padding-bottom: 29px;
  padding-top: 30px;
  padding-left: 30px;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-grey);
  text-transform: uppercase;
  background-color: var(--basic-bluelight);
}
.inner-page .site-navigation {
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}
.inner-page .logo {
  padding-top:7px;
}
/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 21px;
  margin-bottom: 20px;
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.breadcrumbs li {
  position: relative;
  margin-right: 42px;
}
.breadcrumbs li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -25px;
  width: 8px;
  height: 12px;  
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
}
.breadcrumbs li:first-child {
  width: 12.5px;
}

.home-icon {
  position: absolute;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
  width:14px;
  height:12px;
  top:2px;
}
.breadcrumbs a {
  color: var(--basic-black);
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

/* Filters */
.filters {
  width: 220px;
  position: relative;
}
.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.filter fieldset:first-child{
  margin-top: 14px;
  margin-bottom: 41px;
}
.filter fieldset:nth-child(2) {
  margin-bottom: 46px;
}
.filter legend {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}
.filter-item legend {
  margin-bottom: 11px;
}
.brand-checkbox legend {
  margin-bottom: 17px;
}
.radio-power legend {
  margin-bottom: 24px;
}
.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}
.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}
.filter-option:last-child {
  margin-bottom: 0px;
}
.radio-power .filter-option:not(:last-child){
  margin-bottom: 22px;
}
.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-top: 0;
}
.filter-header-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 38px;
  background-color: var(--basic-cream);
  border-radius: 2px;
}
.filter-section-header {
  margin: 0;
  margin-left: 18px;
  width: 51px;
  height: 18px;    
}
.filter-section-header,
.catalog-sorting-header,
.catalog-sorting-item {
  font-family: "PT Sans", "Cuprum", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-cream);
  border: none;  
}
.catalog-sorting-header {
  margin-top: 10px;
  margin-left: 20px; 
  margin-right: 24px;
}

/*Sorting*/
.catalog-sorting-wrapper {
  border-radius: 2px;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: var(--basic-cream);
  height: 38px;
}
.catalog-sorting-list {
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 5px;
  width: 516px;
}
.catalog-sorting li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.catalog-sorting-list li:first-child{
  margin-left: auto;
  padding: 0;
}
.catalog-sorting-list li:nth-child(2){
  margin-left: 71px;
}
.catalog-sorting-list li:nth-child(3){
  margin-left: 65px;
  margin-right:46px;
}
.catalog-sorting-item {
  padding: 0;
  color: var(--shadow-almostdark);
  border-bottom: 1px var(--basic-red) dotted;
}

.catalog-sorting-item:hover,
.catalog-sorting-item:focus {
  color: var(--basic-black);
  border-bottom: 1px var(--basic-red) solid;
}
.catalog-sorting-item:active {
  color: var(--basic-red);
  border-bottom: none;
}
.sorting-arrow{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  line-height: 9px;
  font-size: 9px;
}

.sorting-arrow button{  
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  margin-right: 21px;
  margin-top:-3px;
}
.sorting-arrow button:last-child{  
  margin-right: 1px;
}
.arrow-up path:focus,
.arrow-up path:hover,
.arrow-down path:focus,
.arrow-down path:hover  {
  fill: var(--basic-black);
}
.sorting-arrow:active path {
  fill: var(--basic-red);
}
.sorting-current{
  color: var(--basic-red);
  border: none;
}
.current-arrow path {
  fill: var(--basic-red);
}
 

/*Price filter*/
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}
.range-filter {
  width: 220px;
}
.filter-item legend {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}
.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-cream);
  border-radius: 5px;
}
.range-controls .scale {
  position: absolute;
  top: 39px;
  height: 2px;
  width: 180px;
  background: var(--special-pale-grey);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--special-green);
}
.range-controls .toggle {
  position: absolute;
  top: 29px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--spcial-lightgrey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--special-light);
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  display: flex;
  justify-content: space-between;
  width: 95px;  
  height: 38px;
  position: relative;
}
.price-controls label {
  text-transform: uppercase;
  font-family: "PT Sans", "Cuprum",  sans-serif;
  font-size: 17px;
  line-height: 18px;
}
.price-controls input {
  width: 95px;  
  margin: 0;
  margin-right: 30px;
  color: var(--basic-white);
  text-align: center;
  color: var(--basic-black);
  border: none;
  height: 38px; 
  border-radius: 5px;
  background-color: var(--basic-cream);
  font-family: inherit;
  padding: 0;
}
.min-price:after{
  content: "";
  position: absolute;
  top: 18px;
  right: -20px;
  background-color: var(--basic-black);
  width: 10px;
  height: 1px; 
  z-index: 20;
}
/*Center min-max-price*/
input[type="number"] {
  -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*Сheckbox and radio*/
.brand-checkbox legend {
  position: relative;
}
.brand-checkbox legend::before{
  content:"";
  position: absolute;
  top: -17px;
  width: 220px;
  height: 1px;
  background-color: var(--basic-greylight);
}
.radio-power {
  position: relative;
}
.radio-power legend::before {
  content:"";
  position: absolute;
  top: -18px;
  width: 220px;
  height: 1px;
  background-color: var(--basic-greylight); 
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -1px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
  opacity: 0.6;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
  opacity: 0.6;
}
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
  opacity: 0.6;
}
.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left:  -35px;
  top: -2px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
  opacity: 0.6;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  opacity: 0.4;
}
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:checked:focus + label::after,
.filter-input-checkbox:checked:hover + label::after {
  opacity: 1;
}
.filter-input-radio:focus + label::before,
.filter-input-radio:hover + label::before,
.filter-input-radio:checked:focus + label::after,
.filter-input-radio:checked:hover + label::after {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::after,
.filter-input-radio:disabled + label::before,
.filter-input-radio:checked:disabled + label::after {
  opacity: 0.4;
}

/*Filter button*/
.filter-show {
  padding:0;
  margin: 0;
  margin-top: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 13px;
  line-height: 18px;
  min-width: 220px;
  min-height: 36px;
  font-family: inherit;
  text-transform: uppercase;
  background-color: inherit;
  color: inherit;
  border: 1px var(--basic-greylight) solid;
}


/* Catalog */
.catalog {
  margin-left: 20px;
}
.catalog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 28px;
}
.catalog-item-wrapper {
  margin: 0;
  padding: 0;
  min-height: 316px;
  padding-right: 20px;
  padding-left: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.catalog-item {
  font-family: "PT Sans", "Cuprum", sans-serif;
  width: 220px; 
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px var(--basic-greylight) solid;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  margin-bottom: 18px;
  position: relative;
  
}
.catalog-item:nth-child(3n) {
  margin-right: 0;
}

/*For Index catalog product-section*/
.index-product-item:nth-child(4n) {
  margin-right: 0;
 }
 .index-product-item:nth-child(3n) {
  margin-right: 20px;
}

.catalog-item h3 {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  text-transform: none;
  font-size: 18px;
  line-height: 20px;
}
.catalog-item a {
  color:inherit;
}
.catalog-item-image {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 184px;
  height: 164px;
}
.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 0 10px var(--shadow-dark);
}
.old-price {
  margin: auto;
  margin-top: 7px;
  margin-bottom: 13px;
  padding: 0;
  color: var(--special-grey);
  text-decoration: line-through;
  font-size: 17px;
  line-height: 18px;
}
.current-price {
  position: relative;
  margin: 0;
  margin-top: auto;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 33px;
  padding-right: 24px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  border-radius: 4px;
  z-index: 1;
}
.current-price:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../img/red-button.svg");
  width: 141px;
  height: 38px;
  z-index: -1;
}
.new-item {
  display: block;
  position: absolute;
  right:0px;
  top:0px;
  width: 70px; 
  height: 70px;
  background-image: url("../img/icon-new.svg");
  z-index: 4;
}

/*Catalog button*/

.catalog-item-hover {
  opacity: 0;
  position: absolute;
  height: 135px;
  margin: 0;
  padding: 0;
  padding-top: 38px;
  padding-right: 42px;
  padding-left: 40px;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-white);
  box-sizing: border-box;
}
.catalog-item:hover .catalog-item-hover{
  opacity: 1;
}

.catalog-item-bookmarks,
.catalog-item-buy {
  border: none;
  padding: 0;
  margin: 0;
  width: 135px;
  height: 38px;
  font-family: inherit;
  color: var(--basic-white);
  text-transform: uppercase;
  border-radius: 2px;
}

.catalog-item-buy {
  position: relative;
  padding-left: 24px;
  font-weight: 400;
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--special-darkgreen);
  margin-bottom: 10px;
}
.catalog-item-buy::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 35px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  opacity: 0.3;
}
.catalog-item-buy:hover,
.catalog-item-buy:focus {
  background-color: var(--special-success);
}
.catalog-item-buy:active {
  background-color:  var(--special-almostgreen);
}

.catalog-item-bookmarks {
  color: var(--basic-grey);
  background-color: var(--basic-white);
  border: 3px var(--basic-green) solid;
}
.catalog-item-bookmarks:hover,
.catalog-item-bookmarks:focus {
  border: 3px var(--basic-grey) solid;
}
.catalog-item-bookmarks:active {
  border: 3px var(--basic-greylight) solid;
  color: var(--basic-greylight);
  background-color: var(--basic-white);
}



/*Page Choice Catalog*/
.page-choice {
  margin-top: 30px;
  margin-bottom: 59px;
}
.page-choice-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.page-choice-item {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  list-style: none;
  text-align: center;
  font-family: "PT Sans", "Cuprum", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px var(--basic-light) solid; 
  border-radius: 2px;
}
.page-choice-item a {
  display: block;
  padding: 10px 10px;
}
.page-choice-list a {
  color: inherit;
}
.page-choice-item:last-child {
  width: 138px;
  height: 36px; 
  margin-right: 0;
}
.page-choice-item:hover,
.page-choice-item:focus {
  border: 1px var(--basic-greylight) solid;
}
.page-choice-item:active {
  border: 1px var(--basic-red) solid;
}
.page-choice-current {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

/*Catalog "About product" section*/
.about-products-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 70px;
}
.about-product-section {
  background-color: var(--basic-bluelight);
}
.about-product-section h2 {
  margin: 0;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  margin-top: 64px;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-bluelight);
}
.about-products-wrapper p {
  font-family: "PT Sans", "Cuprum", sans-serif;
  font-weight:400;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}

/*Footer section: one*/
.footer {
  font-weight: 400;
}
.footer-box {
  display: flex;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  color:var(--basic-white);
  padding: 0;
  margin: 0;
  min-height: 193px;
}
.footer-wrapper {
  background-color: var(--basic-grey);
  margin-bottom:0;
}
.footer-box-logo-adress img {
  width: 138px;
  height: 23px;
}
.footer-box-logo-adress .logo-wrapper {
  height: 62px;
  width: 220px;
  margin-bottom: 0px;
}
.footer-box-logo-adress {
  margin: 0;
  padding: 0;
  margin-right: 8px;
}
.footer-adress {
  padding: 0;
  margin: 0;
  font-weight: 400;
  margin-top: 28px;
  font-size: 18px;
  line-height: 24px;
}
.footer-adress a {
  color:inherit;
  border: none;
}
.footer-nav-assort {
  margin:0;
  padding:0;
  margin-left: 20px;
  margin-top:37px;
}
.footer-box li {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}
.footer-navigation {
  margin: 0;
  display:flex;
  justify-content:space-between;
  min-width: 549px;
  
}
.footer-navigation a {
  color: var(--basic-white);
}
.footer-assortment {
  display:flex;
  justify-content: space-between;
  margin-top: 34px ;
  margin-left: 25px;
  margin-bottom: 0;
  margin-right: 0;
}
.footer-assortment a {
  display: block;
  color: var(--special-yellowlight);
}
.footer-assortment li:last-child {
  margin-right: 0;
}
.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-assortment a:hover,
.footer-assortment a:focus {
  text-decoration: underline;
}
.footer-navigation a:active,
.footer-assortment a:active {
  color: var(--shadow-midle);
  text-decoration: none;
}

/*Footer section:two*/
.footer-oters {
  display:flex;
  font-size: 16px;
  line-height: 18px;
  color:var(--basic-white);
  margin: 0;
}
.footer-wrapper-two {
  background-color: var(--basic-darkgrey);
  padding-bottom: 20px;
}
.footer-copyright {
  margin-top: 35px;
  margin-right: 165px;
}
.footer-socials {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-height: 44px;
  margin-top: 32px;
  list-style: none;
}


/* Social button */
.footer-socials a {
  display: block;
}
.vk-icon,
.fb-icon,
.insta-icon  {
  background-color: var(--basic-dark);  
  height:44px;
  width: 44px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.vk-icon {
  background-image: url("../img/icon-vk.svg");
}
.fb-icon {
  background-image: url("../img/icon-fb.svg");
}
.insta-icon {
  background-image: url("../img/icon-insta.svg");
}
.vk-icon:hover,
.vk-icon:focus,
.vk-icon:active,
.fb-icon:hover,
.fb-icon:focus,
.fb-icon:active,
.insta-icon:hover,
.insta-icon:focus,
.insta-icon:active {
  background-color: var(--basic-red);
}
.footer-feedback-dev {
  display: flex;
  justify-content: space-between;
  margin-left:118px;
  margin-top: 35px;
}
.footer-feedback {
  margin:0;
  margin-right:51px;
}
.footer-dev {
  margin:0;
}
.footer-feedback a,
.footer-dev a {
  color: var(--special-yellowlight);
}
.footer-feedback a:hover,
.footer-feedback a:focus,
.footer-dev a:hover,
.footer-dev a:focus {
  text-decoration: underline;
}
.footer-feedback a:active,
.footer-dev a:active {
  color: var(--basic-red);
  text-decoration: none;
}
.inner-page .footer {
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-weight: 400;
}


/*Modal*/
.modal {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);  
  box-shadow: 0px 4px 20px var(--shadow-light);
  border-top: 7px solid var(--basic-red); 
  background-color: var(--basic-white);
  z-index:30;
}
.modal-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}
.modal-error {
  animation: shake;
  animation-duration: 0.6s;
}
.modal-close {
  position: absolute;
  top: 12px;
  right: 13px;
  width: 21px;
  height: 21px;  
  background-color: transparent;
  border: 0;
  cursor: pointer;
  z-index:30;
}
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  width: 26px;
  height: 4px;
  background-color: var(--basic-red);
  border-radius: 1px;
}
.modal-close::before {
  transform: rotate(45deg);
}
.modal-close::after {
  transform: rotate(-45deg);
}
.modal-close:active {
  opacity: 0.3;
  border: none;
}

/*Big Map*/
.modal-map {
  right: 16px;
  top: calc((100vh - 449px) / 2);
  bottom: auto; 
  width: 943px;
  height: 449px;
  padding: 0;
  background-color: var(--basic-white);
}
.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}
.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

/*Modal notification*/

.modal-notification { 
  top: calc((100vh - 282px) / 2);
  bottom: auto; 
  left: 35px;
  width: 620px;
  padding: 0;
}
.modal-notification-text {
  text-align: center;
  margin-top: 73px;
  margin-bottom: 50px ;
}
.icon-mark {
  content: "";
  position: absolute;
  top: 48px;
  left: 81px;
  width: 66px;
  height: 66px;  
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
}
.modal-notification-buttons {  
  margin-bottom: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--special-white);
  height: 112px;
}
.modal-notification-buttons a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
  margin-right: 10px;
  height: 38px;
}
.modal-continue-button {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  border:none ;
  background-color: var(--basic-white);
  width: 192px;
  height: 38px;
}

/*Modal feedback*/

.modal-feedback {
  top: calc((100vh - 430px) / 2);
  bottom: auto; 
  font-weight: 400;
  left:-15px;
  width: 620px;
  min-height: 420px;
  font-size: 18px;
  line-height: 24px;
}
.modal-feedback form {
  width: 620px;
  padding-left: 80px;
  padding-top: 39px;
  padding-right: 80px; 
  box-sizing: border-box;
}
.feedback-form label{
  margin: 0;
  padding:0;
  width: 220px;
}

.modal-feedback label {
  display: block;
  margin-bottom: 11px;
}
.feedback-form input[type="email"],
.feedback-form input[type="text"],
.feedback-form textarea {
  padding-top:  5px;
  padding-bottom: 5px;
  padding-left: 11px ; 
  font-family: "PT Sans", "Cuprum", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-light);
  font-weight: 400;
  border: 2px solid var(--basic-light);
  border-radius: 2px;  
  box-sizing: border-box;
  margin-bottom: 13px;
}
.feedback-form input[type="email"],
.feedback-form input[type="text"] {
  width: 220px;
  margin-right: 0;
}

.feedback-user-contacts {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.feedback-form textarea {
  width: 100%;
  height: 114px;
  margin-bottom: 27px;
}
.feedback-form input[type="email"]:focus,
.feedback-form input[type="text"]:focus,
.feedback-form textarea:focus {
  color: var(--basic-black);
  border: 2px solid var(--basic-greylight);
  outline: none;
}
.feedback-button-wrapper {
  background-color: transparent;
  position: relative;
  min-height: 112px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feedback-button-wrapper button {
  display: block;
  min-width: 100%; 
  padding-top: 10px;
  padding-bottom: 9px; 
}
.feedback-button-back {
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: var(--basic-light);
  min-height: 112px;
  width: 100%;
  top: 311px;
  z-index:-1;
}

/*Others*/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Animations */

@keyframes bounce {
  0% { transform: translateY(-2000px);}

  70% { transform: translateY(30px);}

  90% { transform: translateY(-10px);}

  100% { transform: translateY(0);}
}

@keyframes shake {
  0%, 100%                { transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px);}
  20%, 40%, 60%, 80%      { transform: translateX(10px);}
}
